#add-landmark.modal.fade(tabindex="-1" role="dialog" aria-labelledby="add-landmark-title" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header.bg-info
        h5#add-landmark-title.modal-title Add a Landmark
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        #add-landmark-search.show
          form.input-group
            input.form-control(type="text" name="query" placeholder="Landmark name or address" aria-label="Landmark input" aria-describedby="add-landmark-search-btn")
            .input-group-append
              button.btn.btn-info(type="submit") Search
        #add-landmark-results.hide.d-none
          hr
          p
            i Select below or search again
          ul.list-group
            - // This will be based on results returned from Google
        #add-landmark-format.hide.d-none
          p
            i Name your landmark and save
          form.mb-1
            .input-group
              input.form-control(type="text" name="name" placeholder="Name your landmark" aria-label="Landmark name" aria-describedby="landmark-name")
              .input-group-append
                button.btn.btn-info(type="submit") Save
          p Address filler
          p#coord.d-none Coord filler
        p#add-landmark-error.d-none error
          
