header.bg-info.my-4.rounded.border.border-dark.shadow-lg
  h1.display-4.mt-3 The Find Astronauts a Beach Project
  nav.navbar.navbar-expand-lg.navbar-light.mr-auto.font-weight-bold
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        - const classHeader = num => active[num] ? 'nav-link active' : 'nav-link';
        li.nav-item
          a(class=classHeader(0) href="/") Home
        li.nav-item.border-left
          a(class=classHeader(1) href="/maps") Maps
        li.nav-item.border-left
          a(class=classHeader(2) href="/about") About Me
    a.navbar-brand.font-italic(href="https://github.com/TJaySteno" target="_blank") by Trent Stenoien
