extends layout

block content
  .about.mx-auto.alert-info.border.border-info.rounded.shadow
    .p-3.border
      h2 About This Capstone Project
      p.text-justify.my-0.mx-2.mx-md-5 Silliness aside, this project is meant as a way for me to showcase much of what I have learned throughout the course of this Tech Degree program. It has been built from scratch and uses Express, Pug, Bootstrap, jQuery, and MongoDB. It accesses three different web APIs (Google Maps, Open Weather, and one locate the ISS) to achieve its goal of giving our astronauts a taste of home. Additionally, I have attached a list of my previous projects below. These can also be found on my 
        a.font-weight-bold.text-secondary(href="https://github.com/TJaySteno" target="_blank") GitHub
        span . Thank you for your time!
    block projects
