extends layout

block content
  .about.mx-auto.alert-info.border.border-info.rounded.shadow
    .p-3.border
      h2 About This Capstone Project
      p.text-justify.my-0.mx-2.mx-md-5 Silliness aside, this project is meant as a way for me to showcase much of what I have learned throughout the course of this Tech Degree program. It has been built using primarily React, Node, and Bootstrap though it also relies on a relational database as well. It accesses three different web APIs (NASA, Google Maps, and Yelp) to achieve its goal of finding hospitible beaches for astronauts. I have included a list of my other projects below or you can find a complete list of my projects here on my
        a.font-weight-bold.text-primary(href="https://github.com/TJaySteno" target="_blank")  GitHub
        span . Thank you for your time!
    block projects
