extends layout

block content
  #error.mx-auto.py-3.px-5.alert-warning.border.border-warning.rounded.shadow
    h2.border-bottom.border-warning An anomoly was detected
    .clearfix
      .float-left.text-center.w-75
        h5 (Alien interference suspected)
        p (#{status}): #{message}
      img.error-img.rounded.shadow.border.border-warning.float-right.w-25(src="/img/HomerAlienFishing.jpg" alt="Homer Being Abducted")
