extends layout

block content
  .home-text.mx-auto.p-3.alert-info.border.border-info.rounded.shadow
    p I know what you're thinking; "I bet astronauts miss the beach". Well worry no longer! This app has been created by me, free of charge, to provide the astronauts of the International Space Station (ISS) a little taste of home. It will access NASA's website, find where the ISS is right now, and post that point in Google Maps alongside the current and forecasted weather! So grab your swim trunks all the Aldrin's and Lightyear's around the world! And thank you for keeping E.T. at bay.
    p Donations are welcome, though I only accept BitCoin and Beanie Babies. Please donate to 
      a.text-info(href="/")  www.ETWantsBurritoBowls.com
