extends layout

block content
  #home-text.mx-auto.p-3.alert-info.border.border-info.rounded.shadow
    h2 Welcome!
    p.text-left Now I know what you're thinking; "I bet astronauts miss the beach". It has been shown statistically that most Americans will think about this problem at least twice a day (citation pending).
    p.text-left Well, I have created this app in an effort to provide the astronauts of the International Space Station (ISS) a little taste of home. It will find the current location of the ISS then post an eagle's eye view of that point using Google Maps alongside the current and forecasted weather! Additionally, landmarks can be stored so that they can quickly check the weather of their favorite spots on Earth!
    p.text-left So I hope all the Aldrins and Lightyears around the world enjoy it and thank you for keeping E.T. at bay!
