doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/styles.css')
    script(type='application/javascript' src='/js/jquery-3.3.1.min.js' defer)
    script(type='application/javascript' src='/js/bootstrap.min.js' defer)
    script(type='application/javascript' src='/js/scripts.js' defer)
  .App.container.text-center
    include includes/header
    body
      block content
