/**********************************************************
  ALL
**********************************************************/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/**********************************************************
  /MAPS
**********************************************************/

/*************** LEFT SIDE ***************/
#map {
  height: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.4);
}

/*************** RIGHT SIDE ***************/
#info-container {
  width: 100%;
}

/* Dropdown menu */
#landmarks {
  max-height: 175px;
  overflow-y: auto;
}

/* 'Current' tab */
#current-weather * {
  margin: 0 1rem;
}
#current-weather p {
  font-style: italic;
}

/* 'Forecast' tab */
#forecast-content {
  max-height: 215px;
  overflow-y: auto;
  white-space: nowrap;
}

/*************** MODAL WINDOWS ***************/

/* Add landmark */
#add-landmark-results ul li {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Remove landmark */
#remove-landmark-list li {
  cursor: pointer;
}

/**********************************************************
  /ABOUT
**********************************************************/

/* Projects tabs */
#projects-tab-list {
  max-height: 350px;
  overflow-y: auto;
}

#projects-tab .nav-link {
  color: #17a2b8;
}

#projects-tab .active {
  background-color: #17a2b8!important;
  color: white!important;
}

/* Projects content */
#projects-content {
  max-height: 350px;
  overflow-y: auto;
}

.badge-pill {
  cursor: default;
}

@media (min-width: 775px) {
  /**********************************************************
    MEDIUM SCREENS AND UP
  **********************************************************/

  /*************** /HOME ***************/
  #home-text, #error {
    width: 45%;
  }

  #home-text h2 {
    width: 100%;
  }

  /*************** /MAPS ***************/
  #map {
    float: left;
    width: 50%;
  }

  #info-container {
    float: right;
    width: 45%;
  }

  /*************** /ABOUT ***************/
  #about {
    width: 85%;
  }
}
